*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

html, body{
	height: 100%;
}

.clear{
	clear: both;
}

/*real cód*/

header{
	width: 100%;
	height: 90vh;
	padding: 40px 2%;
	background-image: url('../images/capa.png');
	background-size: cover;
	background-position: center;
	min-height: 600px;
}

.container{
	max-width: 1280px;
	margin: 0 auto;
}

header .anim{
	position: relative;
	float: left;
	width: 220px;
	height: 125px;
	-webkit-animation-name: logo_ini_2; /* Safari 4.0 - 8.0 */
 	-webkit-animation-duration: 3.7s; /* Safari 4.0 - 8.0 */
  	animation-name: logo_ini_2;
  	animation-duration: 3.7s;
  	left: 0;
  	-ms-transform: rotate(0deg); /* IE 9 */
  	-webkit-transform: rotate(0deg); /* Safari 3-8 */
  	transform: rotate(0deg);
  	transition: 1s;
  	opacity: 1;
  }

  @keyframes logo_ini_2{
	0%{
		left: 50%;
		-ms-transform: rotate(0deg); /* IE 9 */
  		-webkit-transform: rotate(0deg); /* Safari 3-8 */
  		transform: rotate(0deg);
  		opacity: 0;
	}

	50%{
		-ms-transform: rotate(180deg); /* IE 9 */
  		-webkit-transform: rotate(180deg); /* Safari 3-8 */
  		transform: rotate(180deg);
	}

	100%{
		left: 0%;
		-ms-transform: rotate(0deg); /* IE 9 */
  		-webkit-transform: rotate(0deg); /* Safari 3-8 */
  		transform: rotate(0deg);
  		opacity: 1;
	}
}

header .logo{
	cursor: pointer;
	position: relative;
	width: 100%;
	height: 100%;
	background-image: url('../images/logo_origi1.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: red;
	border-radius: 50%;
	-webkit-animation: logo_ini infinite; /* Safari 4.0 - 8.0 */
 	-webkit-animation-duration: 6s; /* Safari 4.0 - 8.0 */
  	animation: logo_ini infinite;
  	animation-duration: 6s;
  	border: 8px solid #ad0000;
}

@keyframes logo_ini{
	0%{
		background-color: red;
		border: 8px solid red;
	}

	12.5%{
		background-color: #fc9700;
		border: 3px solid #fc9700;
	}

	25%{
		background-color: #fcfc00;
		border: 8px solid #fcfc00;
	}

	37.5%{
		background-color: #0dc700;
		border: 3px solid #0dc700;
	}

	50%{
		background-color: #005bbd;
		border: 8px solid #005bbd;
	}

	62.5%{
		background-color: #6e00bd;
		border: 3px solid #6e00bd;
	}

	75%{
		background-color: #be02f2;
		border: 8px solid #be02f2;
	}

	87.5%{
		background-color: #e100ed;
		border: 3px solid #e100ed;
	}

	100%{
		background-color: red;
		border: 8px solid red;
	}
}

header nav{
	float: right;
}

nav.mobile-menu{
	cursor: pointer;
	display: none;
	width: 32px;
	height: 32px;
	background-image: url(../images/menu.png);
	background-size: 100% 100%;
}

nav.mobile-menu ul{
	opacity: 0;
	transition: 2s;
	background-color: white;
	position: absolute;
	width: 25%;
	list-style-type: none;
	color: white;
	right: 2%;
	top: 40px;
	text-align: center;
	border: 1px solid black;
}

nav.mobile-menu ul li{
	transition: 0.4s;
	padding: 8px 0;
	border-bottom: 1px solid black;
}

nav.mobile-menu ul li a{
	color: black;
	text-decoration: none;
}

header nav.desktop-menu ul{
	list-style: none;
}

header nav.desktop-menu li{
	padding: 0 20px;
	float: left;
	-webkit-animation-name: nav_desk_li; /* Safari 4.0 - 8.0 */
 	-webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
  	animation-name: nav_desk_li;
  	animation-duration: 3s;
}

@keyframes nav_desk_li{
	0%{
		padding: 0 0;
	}

	100%{
		padding: 0 20px;
	}
}

header nav.desktop-menu ul li a{
	text-decoration: none;
	color: white;
	-webkit-animation-name: nav_desk_li_a; /* Safari 4.0 - 8.0 */
 	-webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
  	animation-name: nav_desk_li_a;
  	animation-duration: 3s;
}

@keyframes nav_desk_li_a{
	0%{
		color: rgba(255,255,255,0);
	}

	100%{
		color: rgba(255,255,255,1);
	}
}

.chamada1{
	max-width: 600px;
	float: right;
	margin: 80px 200px 0px 0px;
	-webkit-animation-name: chamada; /* Safari 4.0 - 8.0 */
 	-webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
  	animation-name: chamada;
  	animation-duration: 3s;
}

@keyframes chamada{
	0%{
		margin: 80px 0px 0px 0px;
	}

	100%{
		margin: 80px 200px 0px 0px;
	}
}

.chamada1 h2{
	font-size: 45px;
	color: white;
	-webkit-animation-name: chamadah; /* Safari 4.0 - 8.0 */
 	-webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
  	animation-name: chamadah;
  	animation-duration: 3s;
}

@keyframes chamadah{
	0%{
		color: rgba(255,255,255,0);
	}

	100%{
		color: rgba(255,255,255,1);
	}
}

.chamada1 p{
	font-size: 15px;
	color: white;
	margin-top: 10px;
	-webkit-animation-name: chamadap; /* Safari 4.0 - 8.0 */
 	-webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
  	animation-name: chamadap;
  	animation-duration: 3s;
}

@keyframes chamadap{
	0%{
		color: rgba(255,255,255,0);
	}

	100%{
		color: rgba(255,255,255,1);
	}
}

section.sessao1{
	width: 100%;
	background-color: #472562;
	padding: 0px 2%;
	height: 400px;
}

section.sessao1 .container{
	max-width: 1000px;
	height: calc(100% + 30px);
}

.texto-sessao1{
	position: relative;
	left: 70px;
	float: left;
	color: white;
	width: 50%;
	padding-left:40px;
}

.texto-sessao1 h2{
	margin-top: 30px;
	margin-bottom: 15px;
	font-size: 30px;
}

.texto-sessao p{
	font-size: 15px;
	font-weight: 300;
	text-align: justify;
}

.texto-sessao1 ul{
	list-style-position: outside;
	padding-left: 15px;
}

.texto-sessao1 ul li{
	float: left;
	width: 100%;
	margin-top: 8px;
	font-size: 13px;
}

.btn1-text{
	background-color: #FF703D;
	width: 165px;
	height: 44px;
	color: white;
	cursor: pointer;
	margin-top: 20px;
	text-align: center;
	line-height: 44px;
	border-radius: 5px; 
	font-size: 13px;
	border: 2px solid #d45d33;
	-webkit-transition: 0.5; /* Safari prior 6.1 */
	transition: 0.5s;
}

.device-sessao1{
	position: relative;
	top: -30px;
	float: left;
	width: 50%;
	height: 430px;
	background-image: url('../images/device.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.sessao2{
	padding-top: 0 2%;
	text-align: center;
	background-color: white;
}

.sessao2 .container{
	max-width: 1000px;
}

.sessao2 h2{
	padding-top: 40px;
	color: #472663;
}

.sessao2 p{
	color: #472663;
	margin-top: 30px;
	max-width: 900px;
	display: inline-block;
}

.sessao2 img{
	position: relative;
	top: 70px;
	width: 100%;
}

.sessao3{
	width: 100%;
}

.part1{
	color: white;
	width: 50%;
	float: left;
	padding:140px 0 150px 0;
	background-color: #835FA7;
}

.wraper-part1{
	max-width: 500px;
	float: right;
	text-align: justify;
	padding: 0 2%;
}

.part1 h2{
	font-weight: 300;
	font-style: italic;
	font-size: 23px;
}

.part1 p{
	margin-top: 10px;
	line-height: 27px;
	font-weight: 300;
	font-size: 16px;
}

.part2{
	float: left;
	width: 50%;
	padding:140px 0 90px 0;
	background-color: white;
}

.sobre-autor{
	float: left;
	max-width: 600px;
	padding-left: 30px;
}

.titulo-autor{
	float: left;
	width: 100%;
}

.titulo-autor h2{
	padding-right: 20px; 
	color: #232323;
	font-weight: 400;
	font-size: 23px;
}

.titulo-autor p{
	font-size: 13px;
	color: #232323;
	font-style: italic;
	font-weight: 300;
}

.wraper-titulo-autor{
	float: left;
}

.titulo-autor .img-autor{
	float: left;
	width: 40px;
	height: 40px;
	background-image: url('../images/actor1.png');
	background-size: cover;
	background-position: center;
	border-radius: 20px;
	position: relative;
}

.texto-autor{
	float: left;
	width: 100%;
	margin-top: 10px;
	max-width: 470px;
}

.texto-autor p{
	color: #232323;
	font-size: 15px;
	text-align: justify;
	padding: 0 2% 0 0;
}

.slider-bullets{
	width: 100%;
	float: left;
	margin-top: 12px;
	padding-left: 30px;
}

.slider-bullets span{
	float: left;
	margin-right: 12px;
	width: 16px;
	height: 16px;
	border-radius: 8px;
	background-color: #ADADAD; 
	margin-right: 8px;
	cursor: pointer;
}

section.sessao4{
	background-color: #472563;
	padding: 100px 0;
}

.form{
	float: left;
	width: 50%;
	padding-left: 10px;
}

.form h2{
	color: white;
	font-size: 23px;
	font-weight: 300;
}

.form p{
	font-size: 15px;
	font-weight: 300;
	color: white;
	max-width: 400px;
	padding-right: 10px;
}

.form form{
	margin-top: 15px;
}

.form form input[type=text]{
	width: 90%;
	max-width: 480px;
	height: 58px;
	margin-top: 8px;
	padding-left: 8px;
	line-height: 58px;
	border: 1px solid rgb(200,200,200);

}

.form form textarea{
	width: 90%;
	margin-top: 8px;
	max-width: 480px;
	padding: 15px;
	border: 1px solid rgb(200,200,200);
	height: 160px;
}

.form form input[type=submit]{
	background-color: #FF703D;
	width: 165px;
	height: 44px;
	color: white;
	cursor: pointer;
	margin-top: 20px;
	text-align: center;
	line-height: 44px;
	border-radius: 5px;
	border: 2px solid #d45d33;
	font-size: 13px;
	-webkit-transition: 0.5; /* Safari prior 6.1 */
	transition: 0.5s;
}

.map-wraper{
	float: left;
	width: 50%;
	padding: 0 10px;
}

.map-wraper h2{
	color: white;
	font-size: 23px;
	font-weight: 300;
}

.map-wraper3{
	margin-top: 10px;
	width: 100%;
	max-width: 480px;
	position: relative;
}

.map-wraper2{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	padding-top: 100%;
	margin-top: 10px;
	max-width: 480px;
}

.map{
	left: 0;
	top: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: white;
	border: 5px solid rgb(200,200,200);
}

footer{
	color: white;
	padding: 40px 2%;
	background-color: #192123;
}

footer p:nth-of-type(1){
	font-size: 14px;
	float: left;
}

footer p:nth-of-type(2){
	font-size: 14px;
	float: right;
}

/*Animations*/

.desktop-menu a:active{
	color: #ba84d9;
}

header .anim:hover{
  	-webkit-transform: scale(1.2, 1.2) rotate(15deg);
  	-ms-transform: scale(1.2, 1.2) rotate(15deg);
  	transform: scale(1.2, 1.2) rotate(15deg);

  }

nav.mobile-menu:hover ul{
	opacity: 1;
}

nav.mobile-menu ul li:hover{
	background-color: rgb(230,230,230);
}

.btn1-text:hover{
	background-color: #00c904;
	border: 2px solid #007302;
	border-radius: 30px;
	color: purple;
}

.form input[type=text]:focus{
	background-color: #c0a9c4;
}

.form textarea:focus{
	background-color: #c0a9c4;
}


.form input[type=submit]:hover{
	background-color: #00c904;
	border: 2px solid #007302;
	border-radius: 30px;
	color: purple;
}

/*responsive*/
@media screen and (min-width: 1080px){
	header .anim{
		width: 300px;
		height: 180px;
  }

	header .logo{
		width: 100%;
		height: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		float: left;
	}
}

@media screen and (max-width: 768px){

	header{
		width: 100%;
		height: auto;
		min-height: 90vh;
		padding: 40px 2%;
	}

	nav.desktop-menu{
		display: none;
	}

	nav.mobile-menu{
		display: block;
	}

	.chamada1{
		max-width: none;
		width: 100%;
		text-align: center;
		float: none;
		margin: 100px 0;
	}

	.chamada1 h2{
		font-size: 30px;
		color: white;
		padding: 0 10px;
	}

	.chamada1 p{
		font-size: 15px;
		color: white;
		margin-top: 10px;
	}

	section.sessao1{
		padding: 40px 2%;
		height: auto;
		text-align: center;
	}

	.texto-sessao1{
		padding-left: 0;
		width: 100%;
		margin-top: 0;
		float: none;
		position: static;
		display: inline-block;
	}

	.texto-sessao1 h2{
		margin-top: 30px;
		margin-bottom: 15px;
		font-size: 23px;
	}

	.texto-sessao p{
		font-size: 12px;
		font-weight: 300;
		text-align: justify;
	}

	.texto-sessao1 ul{
		display: inline-block;
		margin-top: 20px;
	}

	.texto-sessao1 ul li{
		float: none;
		text-align: left;
	}

	.btn1-text{
		display: inline-block;
	}

	.device-sessao1{
		display: none;
	}

	.sessao2{
		padding: 40px 2%;
	}

	.sessao2 .container h2{
		font-size: 23px;
	}

	.sessao2 .container p{
		font-size: 15px;
	}

	section.sessao4 .container{
		text-align: center;
	}

	.form{
		float: none;
		width: 100%;
	}

	.form p{
		display: inline-block;
	}

	.map-wraper{
		float: none;
		width: 100%;
		margin-top: 40px;
		padding: 0 4%;

	}

	.map-wraper3{
		margin-top: 10px;
		width: 80%;
		padding-top: 80%;
		max-width: none;
		position: relative;
		display: inline-block;
}

	.map-wraper2{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		margin-top: 10px;
		max-width: 480px;
}

}

@media screen and (max-width: 580px){
	header .anim{
		width: 150px;
		height: 75px;
  }

	header .logo{
		width: 100%;
		height: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		float: left;
	}	

	.sessao2 img{
		top: 56px;
		width: 100%;
	}

	.part1{
		width: 100%;
		padding: 40px 0;
	}

	.wraper-part1{
		max-width: 500px;
		float: left;
		text-align: justify;
		padding: 0 2%;
		padding-left: 30px;
	}

	.part2{
		padding: 40px 0;
		width: 100%;
	}

	footer{
		text-align: center;
		color: white;
		padding: 40px 2%;
		background-color: #192123;
	}

	footer p:nth-of-type(1){
		font-size: 14px;
		float: none;
	}

	footer p:nth-of-type(2){
		font-size: 14px;
		float: none;
		margin-top: 8px;
	}

}
